*{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: arial;
}

body{
  padding: 25px 150px;
  background-color: lightgrey;
}

.container{
  background-color: white;
  padding: 20px;
}

.left{
  float: left;
  padding: 30px;
}

.right{
  float: right;
  padding: 30px;
}

h1{
  text-align: center;
  margin: 30px 0px 10px;
  font-size: 25px;
}

td{
  padding:5px;
}

.jawaban{
  margin: 0px 20px;
}

.content{
  padding: 50px 20px;
}

.btn{
  background-color: red;
  border-radius: 50px;
  width: 150px;
  height: 30px;
  color: white;
  border: none;
}
