*{
  font-family: 'Roboto', 'Arial';
}

.header{
  height: 250px;
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(229,229,255,1) 56%, rgba(209,208,241,1) 100%);
  padding: 80px;
}

footer{
  height: 50px;
  padding: 15px;
  bottom: 0;
}

.header, .course{
  margin: 50px 10%;
}

.card-body{
  height: 300px;
}

.form-profile{
  margin: 50px 20%;
  padding: 50px;
}

.table-cart{
  padding: 50px;
  margin: 50px 20%;
}
