*{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: arial;
}

.active{
  background-color: cyan;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: lightblue;
}

.welcoming-container{
  width: 100%;
  height: 100%;
}

.left{
  float: left;
  width: 50%;
  height: 160px;
  background-color: blue;
  padding: 50px 0px;
}

.left img{
  margin: 30px 0px 30px 140px;
}

.right{
  float: right;
  width: 50%;
  height: 100%;
  text-align: left;
  background-color: cyan;
}

.right-content{
    margin: 67px 60px;
}

.content{
  clear: both;
  padding: 50px;
  background-color: lightgrey;
}

.video-container{
  margin: auto;
  width: 50%;
  height: 400px;
}

.video-container iframe{
  width: 100%;
  height: 100%;
}

h1{
  text-align: center;
  margin: 30px 0px;
}

.form-container{
  width: 50%;
  margin: auto;
  padding: 10px 30px;
}

.form-container tr td{
    border: none;
    vertical-align: top;
}

button{
  padding: 10px;
  width: 150px;
  background-color: cyan;
  border: none;
  margin:auto;
}

button:hover{
  background-color: blue;
}

input, select{
  width: 100%;
}

/*assistan*/

table{
  margin:50px auto;
  width: 60%;
  text-align: center;
}

table th, table td{
  padding: 20px;
  border: 1px solid black;
}

.container-assistant{
  background-color: lightgrey;
  height: 100vh;
}