.form{
	margin: 100px;
	padding: 20px 20%;
}

h1, p{
	text-align: center;
}

.form-group{
	border-bottom: 1px solid lightgrey;
	padding-bottom: 20px;
}

.button-row{
	border: none;
	display: inline-block;
	text-align: center;
}

.dates{
	border: none;
}

.style-date{
	float: left;
	margin-right: 20px;
}

#datepicker{
	margin:5px;
}

.form-check{
	display: inline;
	margin-right: 20px;
}

.label_get{
	font-weight: 600px;
}

.menu-data{
	padding: 50px 100px;
}

.menu-table tr td{
	border-top: none;
	border-bottom: 0.5px solid lightgrey;
}

.form-edited{
	width: 60%;
	display: inline;
	float: right;
}

.label{
	margin: 5px;
	font-weight: bold;
}

.container-data{
	padding: 50px 35%;
}

.container-data td{
	padding: 10px 50px;
}

.nota-table{
	border-bottom: 0.5px solid lightgrey;
}
